backup/service-account-key.json
ai_agent/.env
ai_agent/service-account-key.json

resourceRepository/photos/**
resourceRepository/videos/**
resourceRepository/voice/**
resourceRepository/personalResources/**