<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowledge Tracker</title>

    <!-- Link to Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">

    <!-- Link to external CSS -->
    <link rel="stylesheet" href="../facts.css">
</head>

<body>

    <div class="container fixed_top">
        <h1 id="top">Knowledge Tracker</h1>


        <h2>Committed Knowledge</h2>
        <table id="committedTable">
            <thead>
                <tr>
                    <th>Id</td>
                    <th>Fact</th>
                    <th>Importance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="knowledge : ${knowledges}" th:attr="data-id=${knowledge.id}">
                    <td th:text = "${knowledge.id}"></td>
                    <td th:text="${knowledge.text}" contenteditable=true></td>
                    <td th:text="${knowledge.priority}" contenteditable=true></td>
                    <td>
                        <button class = "button updateKnowledgeBtn" >Update</button>
                        <button class = "button deleteKnowledgeBtn" >Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        
        <!-- Table for displaying knowledge data -->
        <table id="knowledgeTable">
            <thead>
                <tr>
                    <th>Fact</th>
                    <th>Importance</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <!-- Input Form Container for Adding New Knowledge -->
        <div class="input-form-container">
            <h2>Add New Knowledge</h2>
            <form id="knowledgeForm">
                <label for="factInput">Fact:</label>
                <textarea id="factInput" rows="3" placeholder="Enter your new knowledge here..."></textarea>
                
                <label for="importanceInput">Importance:</label>
                <input type="number" id="importanceInput" placeholder="Rate the importance">
                
                <button type="submit" class="button" id="addKnowledgeBtn">Add Knowledge</button>
            </form>
        </div>

        <button class="button large" id="submitInfoBtn">Submit Info</button>
    </div>

    

    <!-- Link to external JavaScript -->
    <script type = "module" src="../facts.js"></script>
</body>

</html>
